body {
    background-color: #013eff1c;
    font-family: math;
    color: dimgrey;
}

.form-heading {
    text-align: center;
    font-family: math;
    color: dimgrey;
    font-size: xxx-large;
}

.modal-form-heading {
    text-align: center;
    font-family: math;
    color: dimgrey;
    font-size: x-large;
}

.form-sub-heading {
    text-align: center;
    font-family: math;
    color: dimgrey;
    font-size: xx-large;
}

.modal-form-sub-heading {
    text-align: center;
    font-family: math;
    color: dimgrey;
    font-size: large;
}

.online-form {
    border: 3px solid dimgrey;
    width: 30%;
    padding: 25px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: math;
    margin: 0 auto;
}

.url-field {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #24262785;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 20px;
}

.submit-button:hover {
    background-color: #55595b85;
}

.error {
    color: red;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.flex-container {
    display: flex;
}

.flex-container>div {
    margin: 5px;
    padding: 10px;
}

.close {
    position: absolute;
    top: 110px;
    right: 100px;
    cursor: pointer;
    font-size: x-large;
}

.text-danger {
    color: red;
    margin-bottom: 10px;
}