body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    font-family: math;
    color: dimgrey;
}


/* You can add global styles to this file, and also import other style files */